{% extends 'layout.html' %} {% from 'macros.html' import navbar %} {% block main %} {{ navbar('/') }}
<div class="container p-4">
    <form action="">
        <h2 class="text-center text-primary">Trivia Game</h2>
        <div class="row">
            <div class="col-4 offset-4 border text-center bg-light mt-5 pt-5 ">
                <a class="btn btn-info active mb-5" href="/play">Lets Go</a>
                <p class="text-center fw-bold">Haga clic en el botón de arriba para iniciar el juego</p>
            </div>
        </div>
    </form>
<br><br>
    <div class="row offset-8">
      <div class="col-2">
        Search
      </div>
      <div class="col-2">
        <input type="text" class="search">
      </div>
    </div>

    <div class="col-4 offset-4 p-4 ">
        <table class="table table-striped table-hover mt-5">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Puntaje</th>
                    <th scope="col">Porcentaje</th>
                </tr>
            </thead>
            <tbody>
                {% for citas in citas%}
                <tr>

                    <th scope="row">{{user_id}}</th>
                    <td>{{citas.date}}</td>
                    <td>{{citas.time}}</td>
                    <td>{{citas.name}}</td>
                    <td>{{citas.complain}}</td>
                    {% if user_id == citas.id %}
                    <td><a href="/eliminar/{{user_id}}">Eliminar</a> </td>
                    {%endif%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    <!-- <div class="col-3 offset-9">
            <a href="/addCitas" class="btn btn-primary">Agregar nueva cita</a>
        </div> -->

</div>
{% endblock %}
